.main{
	width: 100%;
	height: 100%;
	position: relative;
}
.main .title{
	padding: 20px 10px;
	padding-top: 40px;
	height: 130px;
	padding-bottom: 20px;
	position: relative;
	-webkit-app-region: drag;
	background-image: url(../images/back.jpg);
}
.main .title img{
	width: 80px;
	height: 80px;
	border-radius: 6px;
	overflow: hidden;
	position: absolute;
	-webkit-app-region: no-drag;
	left: 10px;
	top: 40px;
}
.main .title:after{
    content: '';
    position: absolute;
    left: 10px;
    top: 40px;
    width: 80px;
    height: 80px;
    display: block;
    z-index: 10000;
}
.title p{
	padding-left: 90px;
	color: #FFF;
	display: inline-block;
	-webkit-app-region: no-drag;
}
.title p.name{
	font-size: 22px;
	line-height: 30px;
}
.title p.signature{
	font-size: 12px;
	padding-top: 3px;
	color: #f2f2f2;
}
.main .tab{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f2f2f2;
}
.main .tab li{
	width: 24%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	float: left;
	cursor: pointer;
	text-align: center;
}
/****** list style *****/
.list{
	padding: 10px 0;
    -webkit-user-select: none;
}
.list dd{
	padding:10px;
	width: 100%;
	height: 50px;
	display: block;
	box-sizing: content-box;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	cursor: pointer;
}
.list dd:after{
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1000;
}
.list dd:hover{
	background-color: #f2f2f2;
}
.list img{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.list .badge{
	min-width: 20px;
	height: 20px;
	border-radius: 20px;
	line-height: 12px;
	padding: 2px 5px;
	border: 2px solid #FFF;
	text-align: center;
	position: absolute;
	left: 40px;
	top: 0px;
	font-style: normal;
	background-color: #d95858;
	color: #fff;
	font-size: 10px;
}
.list span{
	width: 100%;
	padding-left: 60px;
	display: block;
}
.list .nickname{
	font-size: 18px;
	color: #666;
	line-height: 30px;
}
.list .lastmess{
	font-size: 12px;
	color: #999;
}

/********************
 message style 
********************/
.left{
	width: 180px;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/left.png);
	background-repeat: no-repeat;
	-webkit-app-region: drag;
}
.left ul li{
	width: 100%;
	padding: 10px;
	height: 55px;
	position: relative;
	cursor: pointer;
	-webkit-app-region: no-drag;
}
.left li img{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 5px;
	float: left;
}
.left li span{
	padding-left: 45px;
	line-height: 30px;
	color: #FFF;
	font-size: 16px;

}
.right{
	height: 100%;
	position: relative;
}
.right .top{
	width: 100%;
	padding: 10px;
	height: 85px;
	font-size: 18px;
	color: #f2f2f2;
	position: absolute;
	-webkit-app-region: drag;
	top: 0;
	left: 0;
	padding-top: 25px;
	background-image: url(../images/top.png);
}
.right .top img{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	left: 10px;
	top: 25px;
}
.right .top span{
	margin-left: 60px;
	display: block;
	line-height: 26px;
}
.right .top span.signature{
	font-size: 14px;
	line-height: 20px;
}
.right .content{
	width: 100%;
	height: 100%;
	padding: 90px 0 0 0;
}
.content .cont-left{
	width: 100%;
	padding-right: 160px;
	height: 100%;
}
.content .message{
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #f6f6f6;
	overflow-y: scroll; 
	padding-bottom: 100px;
	/*background-image: url(../images/message.png);*/
}
.mess-left, .mess-right{
  width: 100%;
  min-height: 45px;
  display: block;
  margin-bottom: 30px;
  float: left;
}
.mess-left img, .mess-right img{
  width: 45px;
  height: 45px;
  border-radius: 5px;
  float: left;
}
.mess-right img{
  float: right;
}
.mess-left .mess-cont{
  margin-left: 70px;
  min-height: 45px;
  position: relative;
}
.mess-right .mess-cont{
   margin-right: 70px;
   min-height: 45px;
   position: relative;
}
.mess-cont p{
  position: absolute;
  font-size: 12px;
  color: #888;
  width: 100%;
  display: block;
  top: -20px;
}
.mess-left .mess-cont div, .mess-right .mess-cont div{
    width: auto;
    min-height: 45px;
    line-height: 22px;
    color: #555;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 5px;
    min-height: 45px;
    text-align: left;
    box-shadow: 0 1px 2px #c4c4c4;
    position: relative;
}
.mess-left .mess-cont div:after{
  content: '';
  position: absolute;
  left: -15px;
  top: 14px;
  border-width: 8px;
  border-style: solid;
  border-color:  transparent #FFF transparent transparent ;
}
.mess-right .mess-cont div:after{
  content: '';
  position: absolute;
  right: -15px;
  top: 14px;
  border-width: 8px;
  border-style: solid;
  border-color:  transparent  transparent transparent #FFF;
}
.mess-left{
  text-align: left;
}
.mess-right{
  text-align: right;
}
.content .cont-right{
	width: 160px;
	padding-top: 20px;
	padding-left: 20px;
	height: 100%; 
	position: absolute;
	right: 0;
	top: 85px;
	bottom: 0;
	z-index: 10;
	border-left: 1px solid #D7D7D7;
}
.cont-right img{
	border-radius: 5px;
}
.cont-right .name{
	color: #666;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	text-indent: -30px;
}


footer{
  width: 100%;
  padding-right: 160px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #FFF;
}
.type{
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
  border-top: 1px solid #c4c4c4;
}
.endit{
  padding: 10px;
  padding-right: 110px;
  position: relative;
}
.endit textarea{
  width: 100%;
  max-width: 100%;
  padding: 2px 5px;
  line-height: 22px;
  height: 70px;
  max-height: 70px;
  box-shadow: inset 0 0 2px #818181;
}
.endit button{
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f7f7f7;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 0 2px #818181;
  -webkit-transition: all 0.5s;
}
.endit button:hover{
    background-color: #E4E2E2;
}