* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 430px;
  height: 330px;
  overflow: hidden;
}
a,label,input,button{
    -webkit-user-select:none;
    -webkit-app-region:no-drag;
}
#head_wrap {
  width: 100%;
  height: 180px;
  padding-left:25px;
  padding-top:70px;
  box-sizing: border-box;
  background:#180707 url(../images/message.png) center center no-repeat;
  -webkit-user-select:none;
  -webkit-app-region:drag;
  background-size: 100%;
  position: relative;
}
#head_wrap img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  overflow: hidden;
  border: 5px solid #FFF;
}
.ioc{
  background-image: url(../images/max.png);
}
.login_cont input{
  vertical-align:middle;
  margin-top: 1px;
}
.login_cont .left,.login_cont .right{
  height: 30px;
  line-height: 30px;
}
.login_cont label {
  margin-top: 2px;
  margin-left: 2px;
  font-size: 12px;
  cursor: pointer;
  color: #999;
  vertical-align:middle;
}
#photo {
    background-color: #f8f8f8;
    height: 150px;
    padding-top: 10px;
}

.row {
    width: 430px;
  overflow:hidden;
}

.btn_login {
  text-align: center;
  width: 185px;
  margin:0 auto;
}

.btn_login .btn-primary {
  width: 100%;
  border-radius:0;
  height:30px;
  line-height:30px;
  color: #fff;
  border: none;
  background-color: #d45e65;
  transition: all 500ms;
  cursor:pointer;
}
.btn_login .btn-primary:hover{
  background-color: #cb585f;
}
    border-radius: 0px 0px 0px 0px;
}
.lower_half {
    border-radius: 0px 0px 0px 0px;
}
.left {
  float: left;
}
.right {
    float: right;
}
.no-display {
    display: none;
}
.loading i {
    color: #3399CC;
    font-size: 1.5em;
}
.tipError{ text-align:center; font-size:12px; background-color:#F9F5D6; position:fixed; bottom:0; width:100%; height:16px; line-height:16px; margin:0;}
.login-title{
    height: 40px;
    z-index: 100;
    position: absolute;
    padding: 0px 10px;
    padding-right: 0px;
    top: 0px;
    right: -2px;
    display: block;
    -webkit-app-region:no-drag;
}
.login-title span{
    display: inline-block !important;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
    width: 34px;
    height: 25px;
    margin-left: -4px;
    -webkit-app-region:no-drag;
}
.login-title .blue{
  width: 40px;
  height: 30px;
  background-position: -106px 0px;
}
.login-title .blue:hover{
    background-color: #2789ba;
}
.login-title .red{
  width: 40px;
  height: 30px;
  background-position: -68px 0px;
}
.login-title .red:hover{
    background-color: #d44027;
}
.col-xs-6>div>input[type="password"]{
    border-top: none;
}
.logon_img{ 
    margin-left:36px; 
    float:left; 
    padding:0 15px;
    width: 73px;
    height: 58px;
    background-image: url(../images/login-logo.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.login_input .form-control {
  display: block;
  width:165px;
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing:inherit;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.login_cont .pwdInput{ border-top:none;}
.login_cont{ width:187px; margin: 0px auto;}
.text-center{ text-align:center;}
.uk-button{ color:#4CC0E5;}
.failLogin{ margin-top:36px;} 
.failLogin h3{ margin:4px 0;}
.failLogin h4{ font-size:14px; font-weight:bold;}
.loading {
  -webkit-animation: fa-spin .8s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);  
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}