*{
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}
html,body{ 
	width: 100%; 
	height: 100%;  
	-webkit-user-select: none;
	background-color: transparent;
}
body{
	overflow: hidden; 
	font-family: "微软雅黑";
}
ol,li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
input,textarea,button{
	border: none;
	box-shadow: 0 0 1px #818181; 
	border-radius: 5px;
	color: #444;
	outline: none;
	font-size: 12px;
	-webkit-app-region: no-drag;
}
::-webkit-scrollbar{
	width: 4px;
	height:10px;
}
::-webkit-scrollbar-track{
	/*-webkit-box-shadow: 2px 0 2px rgba(0,0,0,0);*/
	/*background-color: #b0b0b0;*/
}
::-webkit-scrollbar-thumb{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.4);
}
.relative{
	position: relative;
}


.al-radius{
	width: 14px;
	height: 14px;
	border-radius: 14px;
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #ccc;
	position: relative;
	margin-right: 5px;
	vertical-align: middle;
	
}
.al-radius:after{
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 8px;
	position: absolute;
	background-color: #ccc;
	left: 3px;
	top: 3px;
}
.al-blue{
	border: 1px solid #4681c3;
}
.al-blue:after{
	background-color: #4681c3;
}