/*
  login style 
*/
.main{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  position: relative;
  -webkit-app-region: drag;
}
.main .login-oper {
  top: 10px;
  right: 10px;
  position: absolute;
  -webkit-app-region: no-drag;
}
.main .login-oper .login-close {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 10px;
  vertical-align: top;
  display: inline-block;
  background-color: #d45850;
}
.main .ico{
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
.main .radius-l, .main .radius-r{
  width: 120px;
  height: 120px;
  border-radius: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 0
  transform: translate3D(0px, 0px, 0px);
  -webkit-transform: translate3D(0px, 0px, 0px);
}
.rotation{
  animation: move linear 1s 0.5s infinite;
  -webkit-animation: move linear 1s 0.5s infinite;
}
@keyframes move{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes move{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}
.main .radius-l{
  border-left: 3px solid rgba(36,134,185,0.8);
}
.main .radius-r{
  border-right: 3px solid rgba(36,134,185,0.8);
}
.main .ico img{
  width: 120px;
  height: 120px;
  border: 4px solid #FFF;
  /*border: 4px solid #D5D5D5;*/
  border-radius: 120px;
}
.main p{
  width: 80%;
  margin: 0% 10%;
  overflow: hidden;
  -webkit-app-region: no-drag;
}
.main .hint {
  color: #999;
  font-size: 12px;
  text-align: center;
}
.main input{
  width: 100%;
  height: 30px;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 10px;
}
.main .submit{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #999;
  position: absolute;
  right: 5px;
  top: 5px;
}
.main .jhide, .main .show{
  opacity: 0;
}
.main .jlate {
  transform: translate3D(0px, 60px, 0px);
  -webkit-transform: translate3D(0px, 60px, 0px);
}
.main .hide, .main .ico, .main .show{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.main .jshow{
  opacity: 1;
  transform: translate3D(0px, 60px, 0px);
  -webkit-transform: translate3D(0px, 60px, 0px);
}
.main .submit i{
  width: 10px;
  height: 2px;
  cursor: pointer;
  display: inline-block;
  background-color: #999;
  position: absolute;
  left: 3px;
  top: 7px;
}
.main .submit i:after{
  content: '';
  width: 8px;
  height: 2px;
  background-color: #999;
  position: absolute;
  left: 4px;
  top: -2px;
  -webkit-transform: rotate(45deg);
}
.main .submit i:before{
  content: '';
  width: 8px;
  height: 2px;
  background-color: #999;
  position: absolute;
  left: 4px;
  top: 2px;
  -webkit-transform: rotate(-45deg);
}
.main .fl, .main .fr{
  height: 20px;
  font-size: 10px;
  color: #999;
}