<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="前端开发,前端,wordpress主题,浩子,大前端,css教程">
    <meta name="description" content="大前端是一个关注前端开发、用户体验设计、HTML5、CSS3、Javascript的前端开发独立博客。">
    <title>Web front end development</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css.css">
    <style type="text/css">
        body {
            background-position: center;
            /*background-image: url(/images/back.jpg);*/
        } 
    </style>
    <script type="text/javascript" src="/javascripts/config.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/vue-resource.js"></script>
</head>
<body>
  <div id="regsiter" class="adduser">
    <div style="font-size: 32px; color: #333; margin-bottom: 30px;">欢迎注册</div>
    <div style="font-size: 20px; color: #333; margin-bottom: 30px;">乐在其中，乐在沟通！</div>
    <div>
      <input type="text" class="J-User" placeholder="用户名"  v-model="username" />
    </div>
    <div>
      <input type="password" class="J-Pass" placeholder="密码 " v-model="password" />
    </div>
    <div>
      <input type="text" class="J-Nick" placeholder="请输入昵称 " v-model="nickname" />
    </div>
    <div>
      <input type="text" class="J-Autograph" placeholder="请输入个性签名 " v-model="autograph" />
    </div>
    <div class="user-img">
      <div v-for="img  in userimg" @click="SelUserImg(img)">
        <img v-bind:src="img" />
      </div>
    </div>
    <button class="J-Regsiter regsiter" @click="regsiter">立即注册</button>
  </div>
  <script type="text/javascript">
    new Vue({
      el: '#regsiter',
      data: {
        username: '',
        password: '',
        nickname: '',
        autograph: '',
        userimg: ['/images/01.gif','/images/02.gif','/images/03.gif','/images/04.gif','/images/05.gif','/images/06.gif','/images/07.gif','/images/08.gif'],
        img: '/images/01.gif'
      },
      created(){
      },
      methods: {
      },
      methods: {
        addClass(el){
          console.log('el', el);
        },
        SelUserImg(img,index){
          this.img = img;
        },
        regsiter(){
          if (this.username!='' && this.password !='') {
            let user = {
              username: this.username,
              password: this.password,
              nickname: this.nickname,
              autograph: this.autograph,
              img: this.img
            }
            this.$http.post('/saveUser',user,{emulateJSON:true}).then(function(res){
              console.log('res', res.body.message);
            },function(res){
              console.log(res.status);
            });
          }
        }
      }
    });
  </script>
  </body>
</html>
