<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>WebSocket</title>
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <!-- <script type="text/javascript" src="http://socket.nodegeek.org/socket.io/socket.io.js"></script> -->
    <script type="text/javascript" src="http://io.nodegeek.org/socket.io/socket.io.js"></script>
</head>
<body>
<div class="main" id="chat">
  <!-- left dom start -->
  <div class="left">
    <!-- user Informat start -->
    <div class="left-inform">
        <div class="title">
          <span class="radius close-win" @click="closeWin"></span>
          <span class="radius yellow min-win" @click="closeMin"></span>
          <span class="radius green max-win" @click="closeMax"></span>
        </div>
        <div class="user">
            <img src="img/ico.jpg" />
        </div>
        <div class="menu">
            <p class="menu-item"><img src="img/home.png" /></p>
            <p class="menu-item"><img src="img/drill.png" /></p>
            <p class="menu-item"><img src="img/camera.png" /></p>
        </div>
        <div class="setup">
          
        </div>
    </div>
     <!-- user Informat end -->
    <!-- user List start -->
    <div class="left-list">
        <div class="search"><input id="username" type="text"  placeholder="Search" /></div>
        <div  class="user-list">
          <ul >
            <li class="item {{item.light}}" v-for="item in userList" v-if="item.userid!=userid" @click="toggleSession(item)">
              <img v-bind:src="item.img" />
              <div>
                <strong>{{item.username}}</strong>
                <span>{{item.endmeaage}}</span>
              </div>
              <span class="drag" v-if="item.unread">{{item.unread}}</span>
              <span class="close" @click="delUser(item)"></span>
            </li>
          </ul>
        </div>
    </div>
    <!-- user List end -->
    
  </div>
  <!-- left dom end -->

  <!-- right dom start -->
  <div class="right">
    <!-- top dom start -->
    <div class="title">
      <span class="userPhoto"><img src="img/ico.jpg" /></span>
      <div class="userInform">
        <strong>{{current.nickname}}</strong>
        <span>{{current.endmeaage}}</span>
      </div>
      <div class="operation">
        <div class="sendfile" title="发送文件">
            <input id="file" type="file"  multiple />
          <!-- <div class="file-type">
              <p><input type="file" /> 发送单个文件</p>
              <p><input type="file"  multiple /></p>
          </div> -->
        </div>
        <span class="information" style="display:none"></span>
      </div>
    </div>
    <!-- top dom end -->

    <!-- content dom start -->
    <div class="content">
      <div id="message" class="message">

        <!-- <div class="mess-left">
          <span class="user-img"><img src="img/03.gif"></span>
          <p class="mess-cont">I love you, Allen</p>
        </div>
        <div class="mess-right">
          <span class="user-img"><img src="img/04.gif"></span>
          <p class="mess-cont">I love you too, Nancy</p>
        </div>
        <div class="mess-left">
          <span class="user-img"><img src="img/03.gif"></span>
          <p class="mess-cont">I love you not because of who you are,but because of who I am when I am with you.No man or woman is worth your tears,and the one who is ,won‘t make you cry. </p>
        </div>
        <div class="mess-right">
          <span class="user-img"><img src="img/04.gif"></span>
          <p class="mess-cont">The worst way to miss someone is to be sitting right beside them knowing you can‘t have them. Never frown,even when you are sad,because you never know who is falling in love with your smile. </p>
        </div>
         -->
      </div>
    </div>
    <!-- content dom end -->

    <!-- bottom dom start -->
    <div class="edit">
      <div class="bar"unselectable="on" onmousedown="return false">
        <span class="font J-EditItem" unselectable="on" onmousedown="return false"></span>
        <span class="face J-EditItem" unselectable="on" onmousedown="return false"></span>
        <span class="shake J-EditItem" unselectable="on" onmousedown="return false"></span>
        <span class="det J-EditItem" unselectable="on" onmousedown="return false"></span>
        <span class="img J-EditItem" unselectable="on" onmousedown="return false"><input type="file" class="add-file" @change="handleFileChange" ref="inputer" /></span>
        <span class="cut J-EditItem" unselectable="on" onmousedown="return false"></span>
        <strong class="record fr">查看消息记录</strong>
      </div>
      <div id="textarea" class="textarea J-Edit" contenteditable="true">
      </div>
    </div>
    <!-- bottom dom end -->

  </div>
  <!-- right dom end -->
</div>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
  <script type="text/javascript" src="js/config.js"></script>
  <script type="text/javascript" src="js/chat.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>