<div class="list-page-table-header">
    <div class="row">
        <div class="col col-1">ID</div>
        <div class="col col-2">名称</div>
        <div class="col col-3">频道</div>
        <div class="col col-4">开始时间</div>
        <div class="col col-5">结束时间</div>
        <div class="col col-6">创建者</div>
        <div class="col col-7">状态</div>
    </div>
</div>

<div class="list-page-table-content ps-container" >

    <!-- <div class="mask">
        <a href="#" class="submit green">装修</a>
        <a href="#" class="submit green">浏览</a>
        <a href="#" class="submit ">删除</a>
    </div> -->

    <div class="row J_list_item odd active" >
        <div class="col col-1 " >608474</div>
        <div class="col col-2 has-child J_has_child"><a href="#" target="_blank" class="main-a">TCL8月狂欢</a></div>
        <div class="col col-3">企业购</div>
        <div class="col col-4">2016-06-06 14:08:24</div>
        <div class="col col-5">2016-09-30 14:08:27</div>
        <div class="col col-6">TCL电视旗舰店</div>
        <div class="col col-7">已上线</div>
    </div>
</div>

<div class="list-page-table-content ps-container" >
    <div class="row J_list_item  active" >
        <div class="col col-1 " >608474</div>
        <div class="col col-2 has-child J_has_child"><a href="#" target="_blank" class="main-a">TCL8月狂欢</a></div>
        <div class="col col-3">企业购</div>
        <div class="col col-4">2016-06-06 14:08:24</div>
        <div class="col col-5">2016-09-30 14:08:27</div>
        <div class="col col-6">TCL电视旗舰店</div>
        <div class="col col-7">已上线</div>
    </div>
</div>

<div class="list-page-table-content ps-container" >
    <div class="row J_list_item odd active" >
        <div class="col col-1 " >608474</div>
        <div class="col col-2 has-child J_has_child"><a href="#" target="_blank" class="main-a">TCL8月狂欢</a></div>
        <div class="col col-3">企业购</div>
        <div class="col col-4">2016-06-06 14:08:24</div>
        <div class="col col-5">2016-09-30 14:08:27</div>
        <div class="col col-6">TCL电视旗舰店</div>
        <div class="col col-7">已上线</div>
    </div>
</div>

<!-- paging html  -->
<!-- <div class="list-page-paginator J_paginator">
    <a href="#" class="atom-submit-radius atom-back-green">装修</a>
    <a href="#" class="atom-submit-radius atom-back-green">浏览</a>
    <a href="#" class="atom-submit-radius atom-back-red ">删除</a>
</div> -->
<!-- @paging -->